.menu{
    display: flex;
/*    padding: 20px;*/
    text-align: center;  
    justify-content: space-around;
}

.menu li {
    list-style-type: none ;
}

.menu a {
    display: block;
    min-width: 150px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    color: black;
    text-decoration: none;
    transition: all 1s;
}

.menu a: hover { 
    background-color: #211903;
    color:  #d5cdbb;
    border-color:  #d5cdbb;
}